<h2>{{folder}}</h2>
<table>
    <thead>
        <th></th>
        <th>Name</th>
        <th>Modified</th>
        <th>Members</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr app-file *ngFor='let file of files' [file]='file' (go1)="changeFolder($event)" (go)="Xoa($event)" (go2)="checkbox($event)"></tr>
    </tbody>
</table>
<br>
<br>

<div *ngIf="showForm">
    <input placeholder="Nhập tên cần thêm" [(ngModel)]="newName" />
    <br>
    <br>
    <input placeholder="Nhập tên thành viên" [(ngModel)]="newMembers" />
    <br>
    <br>
    <input placeholder="Nhập type cần thêm" [(ngModel)]="newType" />
    <br>
    <br>
    <button (click)="Them()">Thêm</button>
</div>

<button (click)="showForm = true" *ngIf="!showForm">Thêm</button>
<button (click)="XoaT()">Xóa( Chưa làm đc :(( )</button>
