:host {
    display: flex;
    app-menu-slide-bar {
        flex: 1;
        background: rgb(160, 164, 173);
    }
    app-container1 {
        flex: 4;
        background: rgb(253, 253, 253);
    }
}












